@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 36, 41, 46;
  --background-start-rgb: 248, 249, 250;
  --background-end-rgb: 255, 255, 255;
  --link-color: 3, 102, 214;
  --link-hover-color: 3, 102, 214;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 201, 209, 217;
    --background-start-rgb: 13, 17, 23;
    --background-end-rgb: 13, 17, 23;
    --link-color: 79, 140, 201;
    --link-hover-color: 79, 140, 201;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

a {
  color: rgb(var(--link-color));
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(var(--link-hover-color));
  text-decoration: underline;
}

